# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
env/

# SQLite databases
*.sqlite3

# Flask instance folder
instance/

# Log files
*.log

# Environment variables file
.env

# Database files
*.db

# IDE configurations
.idea/
.vscode/

# macOS specific files
.DS_Store

# Python distribution files
*.egg-info/
