<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- OPEN GRAPH -->
    <meta property="og:title" content="Password manager" />
    <meta
      property="og:description"
      content="A lightweight and secure password generator and manager built using Python. This project provides an intuitive user interface for generating and saving strong passwords, and it can be hosted as a web application using platforms like Render."
    />
    <meta
      property="og:image"
      content="https://password-manager-7bbw.onrender.com/static/image/pm.jpg"
    />
    <meta
      property="og:url"
      content="https://password-manager-7bbw.onrender.com"
    />
    <meta property="og:type" content="website" />
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Password generator</title>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- HEADER OR NAVBAR -->
    <header class="header">
      <div class="toogleTheme">
        <button class="toggleBtn" id="toggleBtn">&#x2600;</button>
      </div>
    </header>
    <!-- MAIN OF THE BODY -->
    <main class="main">
      <!-- PASSWORD GENERATOR UI -->
      <div class="wrapperGenerator">
        <h1 class="h1">Generate a password</h1>
        <form id="passwordForm" class="passwordForm">
          <button type="button" class="button-28" id="generateBtn">
            Generate
          </button>
          <input
            type="text"
            class="generatedPassword"
            id="generatedPassword"
            placeholder="readonly"
            readonly
          />
          <button type="button" class="copyBtn" id="copyBtn">&#x1F4C4;</button>
        </form>
      <!-- CHECKBOX INPUT FOR PASSWORD --> 
       <div class="checkbox">
        <div class="leftSide">
          <div class="box">
            <input type="checkbox" name="letterL" id="letterL" class="inputL" disabled>
            <label for="letterL">A-Z</label>
          </div>
          <div class="box">
            <input type="checkbox" name="smallL" id="letterS" class="inputS" disabled>
            <label for="smallL">a-z</label>
          </div>
        </div>
        <div class="rightSide">
          <div class="box">
            <input type="checkbox" name="specialS" id="letterSC" class="inputC" disabled>
            <label for="specialS">!-?</label>
          </div>
          <div class="box">
            <input type="checkbox" name="numbers" id="letterN" class="inputN" disabled>
            <label for="numbers">0-9</label>
          </div>
        </div>
        </div>
         <!-- POINTER TO USERS -->
        <p class="copyMsg" id="copyMsg"></p>
       </div>
      </div>
      <!-- ABOUT PAGE -->
      <div class="page">
        <h1>About</h1>
        <br />
        <hr />
        <div class="pythonApp">
          <h2>Password Manager - Python GUI/Web Application</h2>
          <hr />
          <p>
            A lightweight and secure password generator and manager built using
            Python. This project provides an intuitive user interface for
            generating and saving strong passwords, and it can be hosted as a
            web application using platforms like Render.
          </p>
        </div>
        <div class="feautersBlock">
          <h2>Strong Password Generation</h2>
          <hr />
          <p>
            - Generate secure, random passwords of customizable length using
            Python's cryptographic libraries. <br />
            - GUI Mode: A graphical interface for local users. <br />
            - Mode: Hosted on Render for easy access from any device with a
            browser.<br />
            - Serverless Architecture: Designed to work without a backend
            database, ensuring simplicity and security.<br />
            - Secure Practices: The application focuses on user privacy,
            ensuring no passwords are stored on the server in web mode.
          </p>
        </div>
        <div class="secureNotesBlock">
          <h2>Security Notes</h2>
          <hr />
          <p>
            Passwords are generated randomly and are not stored on the server
            for security reasons.Use the generated passwords responsibly, and do
            not share your passwords file with others.
          </p>
        </div>
        <div class="license">
          <h2>License</h2>
          <hr />
          <p>
            This project is licensed under the MIT License. See the
            <a
              class="text"
              href="https://github.com/maglovskiNenad/password_manager/blob/main/LICENSE"
              >LICENSE</a
            >
            file for details.
          </p>
        </div>
      </div>
      <!-- CONTRIBUTING PAGE -->
      <div class="page">
        <h1>Contributing</h1>
        <br />
        <hr />
        <p>
          Contributions are welcome! If you'd like to add features or fix bugs,
          follow these steps:
        </p>
          <a
            class="text centerText"
            href="https://github.com/maglovskiNenad/password_manager/blob/main/CONTRIBUTION.md"
            >...CONTRIBUTING...</a
          >
        </p>
      </div>
      <!-- CONTACT PAGE -->
      <div class="page">
        <h1>Contact</h1>
        <br>
        <hr>
        <p>
          Curious about what I’ve been working on? Check out my GitHub profile for a collection of projects,
           ideas, and contributions that showcase my passion for coding and innovation. From web applications
            to scripts and experiments, you’ll find a variety of work that reflects my skills and creativity.
        </p>
        <p>
          <b>GitHub:</b><a href="https://github.com/maglovskiNenad"> Maglovski Nenad</a>
        </p>
        <p>
          Let’s connect, collaborate, and create something great together! If you have any ideas or feedback,
           feel free to explore and reach out.
        </p>
      </div>
  
    </main>
    <!-- FOOTER -->
    <footer class="footer">
      <p class="copyright">Nenad Maglovski 2024&copy;</p>
    </footer>
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
