<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Password Generator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <h1>Generate a password</h1>
      <form id="passwordForm" class="passwordForm">
        <button type="button" class="button-28" id="generateBtn">
          Generate
        </button>
        <input
          type="text"
          class="generatedPassword"
          id="generatedPassword"
          readonly
        />
      </form>
      <div class="password">
        <p>Generated password:</p>
        <span class="passwordDisplay" id="passwordDisplay"></span>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
