<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Password manager" />
    <meta
      property="og:description"
      content="A lightweight and secure password generator and manager built using Python. This project provides an intuitive user interface for generating and saving strong passwords, and it can be hosted as a web application using platforms like Render."
    />
    <meta
      property="og:image"
      content="https://password-manager-7bbw.onrender.com/static/image/pm.jpg"
    />
    <meta
      property="og:url"
      content="https://password-manager-7bbw.onrender.com"
    />
    <meta property="og:type" content="website" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Password Generator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <button id="theme-toggle" class="toggle">&#x2600;</button>
    <div class="wrapper">
      <h1>Generate a password</h1>
      <form id="passwordForm" class="passwordForm">
        <button type="button" class="button-28" id="generateBtn">
          Generate
        </button>
        <input
          type="text"
          class="generatedPassword"
          id="generatedPassword"
          readonly
        />
      </form>
      <div class="password">
        <p>Generated password:</p>
        <span class="passwordDisplay" id="passwordDisplay"></span>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
